name: Testing For PRs

on: [ pull_request ]

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    container:
      image: eclipse-temurin:21-ubi9-minimal
      options: >-
        --name jdk-container
        -v ${{ github.workspace }}:/work
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          egress-policy: audit
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - run: microdnf install -y git findutils yum-utils
      - name: Test with Gradle
        run: ./gradlew assemble check
        working-directory: /work
