name: Test and Release

on:
  push:
    branches: [ master ]
  workflow_dispatch:
    inputs:
      prerelease:
        description: 'The release should be an experimental release'
        default: 'NO'
        required: true

jobs:
  test-release:
    runs-on: ubuntu-latest
    container:
        image: eclipse-temurin:21-ubi9-minimal
        options: >-
          --name jdk-container
          -v ${{ github.workspace }}:/work
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0
      - run: microdnf install -y git findutils yum-utils && cd /work && ./gradlew assemble check
      - name: Release with Gradle
        run: ./gradlew githubRelease
        env:
          GITHUB_USER: "gocd"
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
          PRERELEASE: "${{ github.event.inputs.prerelease }}"
